body {
    font-family: "Microsoft YaHei", Simhei, Helmet, Arial, SimSun, Helvetica, sans-serif;
}
main#background {
    opacity: 1;
    background: url('../images/mall/mobile/kv.jpg') no-repeat center 0 fixed;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:auto;
}
.header .logo {
    margin:0px 20px;
    position: relative;
}
.fixed-bottom {
    position: fixed;
    height: 60px;
    bottom: 60px;
    width: 100%;
}
.btn-footer {
    border-radius: 0px!important;
    background: #278fe8;
    color: #FFF;
    width: 260px;
    height: 60px;
    line-height: 40px;
    font-size: 30px;
}