/*
* @Author: Marte
* @Date:   2017-07-03 15:42:08
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-04 17:49:36
*/

* {
    margin: 0;
    padding: 0;
}
body {
  background: #dadad8 url(http://club.dffengguang.com.cn/bbs/static/assets/imgs/layout/bg.jpg) 50% 0 no-repeat;
}
header .container .row {
    position: relative;
}
header .container .btnShopCar {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

header .container .btnShopCarP {
    box-shadow: 0px 2px 5px #ccc;
    position: absolute;
    left: 785px;
    top: 132px;
    width: 315px;
    background: #fff;
    z-index: 900;
}

header .container .btnShopCarP .carbox {
    list-style: none;
    padding: 20px;
}

header .container .btnShopCarP .carbox .shop {
    position: relative;
    margin: 10px 0;
    border-bottom: 1px #ccc solid;
    height: 51px;
    width: 275px;
    margin: 30px 0px;
}

header .container .btnShopCarP .carbox .shopImgmg {
    position: absolute;
    height: 51px;
    width: 51px;
    background: #000;
    top: -15px;
    left: 0;
}

header .container .btnShopCarP .carbox .shopTitle {
    position: absolute;
    width: 140px;
    font-size: 12px;
    top: -15px;
    left: 67px;
    overflow: hidden;
}

header .container .btnShopCarP .carbox .shopBox {
    position: absolute;
    left: 67px;
    top: 18px;
}

header .container .btnShopCarP .carbox .shopBox .shopSub {
    height: 18px;
    width: 18px;
    background: #e4e4e4;
    text-align: center;
    line-height: 18px;
    float: left;
    cursor: pointer;
}

header .container .btnShopCarP .carbox .shopBox .shopNum {
    float: left;
    height: 18px;
    width: 25px;
    background: #e4e4e4;
    text-align: center;
    line-height: 18px;
}

header .container .btnShopCarP .carbox .shopBox .shopAdd {
    height: 18px;
    width: 18px;
    background: #e4e4e4;
    text-align: center;
    line-height: 18px;
    float: left;
    cursor: pointer;
}

header .container .btnShopCarP .carbox .shopJiage {
    position: absolute;
    right: 10px;
    top: -15px;
    font-size: 12px;
    color: red;
}

header .container .btnShopCarP .carbox .removeSp {
    display: block;
    position: absolute;
    left: 235px;
    top: 6px;
}

.btnBuy {
    position: relative;
    width: 128px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background: #e60012;
    color: #fff;
    left: 167px;
    bottom: 30px;
    border: none;
}

#main .container {
    width: 1090px;
    min-height: 200px;
    background: #fff;
    margin: 10px auto;
}
@media screen and (max-width: 767px) {
  #top .container,#main .container {
      width: 100%;
      margin: 10px auto;
  }
}
#main .container .addr {
    padding: 15px 0;
    border: 1px solid #ccc;
    position: relative;
}

#main .container .addr .addrList {
    list-style: none;
    width: 100%;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}

#main .container .addr .addrList li {
    margin: 5px 0;
}

#main .container .addr .addrList li .userAddr {
    display: inline-block;
    width: 93%;
    line-height: 22px;
    position: relative;
}

#main .container .addr .addrList li .nowAddr {
    background: #fffcf4;
    border: 1px solid #888;
}

#main .container .addr .addrList .upAddr {
    color: red;
    display: block;
    float: right;
    margin-right: 70px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}

#main .container .addr .addrList .delAddr {
    color: red;
    display: block;
    float: right;
    margin-right: 20px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}
#main .container .shangpinbox {
    margin-top: -31px;
}

#main .container .shangpinbox .shangpin {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main .container .shangpinbox .shangpin li {
    border-top: 1px solid #ccc;
    height: 190px;
    width: 100%;
    padding: 20px 0px;
}

#main .container .shangpinbox .shangpin .shopChek {
    position: absolute;
    top: 40%;
}

#main .container .shangpinbox .shangpin .shopImg {
    position: absolute;
    width: 124px;
    height: 124px;
    left: 35px;
    top: 36px;
}

#main .container .shangpinbox .shangpin .shopTitle {
    position: absolute;
    left: 180px;
    top: 32px;
    height: 124px;
    width: 350px;
    overflow: hidden;
}

#main .container .shangpinbox .shangpin .toolbox {
    position: absolute;
    height: 32px;
    left: 653px;
    top: 40%;
    width: 389px;
}

#main .container .shangpinbox .shangpin .toolbox .add {
    height: 32px;
    width: 32px;
    border: 1px solid #ccc;
    line-height: 32px;
    text-align: center;
    float: left;
    cursor: pointer;
}

#main .container .shangpinbox .shangpin .toolbox .text input {
    height: 32px;
    width: 52px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #ccc;
    float: left;
    margin: 0 3px;
}

#main .container .shangpinbox .shangpin .toolbox .sub {
    height: 32px;
    width: 32px;
    border: 1px solid #ccc;
    line-height: 32px;
    text-align: center;
    background: #f0f0f0;
    float: left;
    cursor: pointer;
}

#main .container .shangpinbox .shangpin .toolbox .jinbi {

    color: red;
    width: 100px;
    height: 32px;
    float: left;
    line-height: 32px;
    margin-left: 73px;
}

#main .container .shangpinbox .shangpin .toolbox .remove {
    display: block;
    float: left;
    line-height: 32px;
    margin-left: 66px;
    text-decoration: none;
    color: #3f3f3f;

}

#main .container .shangpinbox .shopDi {
    position: relative;
    width: 100%;
    height: 70px;
    background: #fff8e6;
}

#main .container .shangpinbox .shopDi .dibox {
    position: absolute;
    top: 40%;
    width: 85%;
}

#main .container .shangpinbox .shopDi .dibox .allSe {
    float: left;
}

#main .container .shangpinbox .shopDi .dibox .allSeT {
    float: left;
    margin-left: 25px;
    font-size: 15px;
}

#main .container .shangpinbox .shopDi .dibox .removeAll {
    float: left;
    margin-left: 25px;
    color: #666;
    cursor: pointer;
}

#main .container .shangpinbox .shopDi .dibox .shopSum {
    float: left;
    margin-left: 573px;
}

#main .container .shangpinbox .shopDi .dibox .Total {
    float: left;
}

#main .container .shangpinbox .shopDi .jiesuan {
    border: none;
    float: right;
    width: 157px;
    height: 70px;
    background: red;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

@media (max-width:768px) {
    
    #main .container .addr .addrList li .userAddr {
        width: 80%;
    }
    #main .container .addr .addrList .upAddr {
        top: auto;
        bottom: 0;
    }
    #main .container .addr .addrList .delAddr {
        top: auto;
        bottom: 0;
    }
    #main .container .shangpinbox .shangpin .toolbox {
        left:auto;
        right: 0;
        width: auto;
        bottom: 100px;
        top:auto;
        text-align: right;
    }
    #main .container .shangpinbox .shangpin .toolbox .jinbi {
        margin-left: 0;
        float: none;
        width: auto;
    }
    #main .container .shangpinbox .shopDi .dibox .allSeT {
        margin-left: 5px;
    }
    #main .container .shangpinbox .shopDi .dibox .shopSum {
        margin-left: 5px;
    }
    #main .container .shangpinbox .shopDi .dibox .Total {
        color: red;
    }
    #main .container .shangpinbox .shangpin .shopTitle {
        width: auto;
        left: auto;
        right: 0;
    }
    .qty-group {
        width: auto;
        float: none;
        display: block;
        width: 124px;
        text-align: right;
    }
    #main .container .shangpinbox .shangpin .toolbox .remove {
        float: none;
        margin-left: 0;
    }
    #main .container .addr .addrList li .userAddr {
        min-height: 70px;
        margin-bottom: 10px;
    }
    #main .container .shangpinbox .shopDi .dibox {
        width: auto;
    }
    #main .container .shangpinbox .order-title {
        font-weight: 800;
    }
    .orders .shopTitle {
        top: 42px!important;
    }
    .orders .shangpinbox {
        margin-top: 20px!important;
    }
    
    .orders .shangpinbox .shangpin .shopImg {
        left:0!important;
    }
}