@charset "UTF-8";
.wp {
  width: 1100px;
  margin: 0 auto; }

body {
  background: #fff url(../imgs/layout/bg.jpg) 50% 0 no-repeat; }

#nv_portal {
  font: 12px/1.4286 "Microsoft YaHei", 'Simhei', Helmet, Arial, SimSun, Helvetica, sans-serif;
  color: #858585; }
  #nv_portal h2 {
    font-size: 18px;
    font-weight: bold; }
  #nv_portal p {
    font-size: 12px; }
  #nv_portal a {
    text-decoration: none; }
    #nv_portal a:hover {
      text-decoration: none; }
  #nv_portal ul {
    list-style: none; }

.cl:before,
.cl:after {
  content: " ";
  display: table; }

.cl:after {
  clear: both; }

.cl {
  zoom: 1; }

.inside {
  position: relative;
  width: 1100px;
  margin: 0 auto; }

.showWrap img {
  display: block; }

/* 底部  */
.footer {
  background-color: #262626;
  height: 350px;
  padding-top: 60px;
  position: relative; }

.footer a:hover {
  text-decoration: none; }

.footer_cont {
  width: 1100px;
  margin: 0 auto; }

.footer_nav {
  overflow: hidden;
  width: 800px;
  float: left; }

.footer_nav a {
  color: #6f6f6f; }

.footer_nav > ul {
  float: left;
  margin: 0 30px; }

.footer_nav > ul > li {
  line-height: 24px;
  font-size: 12px; }

.footer_nav > ul > li:first-child {
  padding: 15px 0;
  color: #fff; }

.footer_nav > ul > li:first-child a {
  color: #fff; }

.footer_nav > ul > li.er {
  list-style: initial; }

.footer_nav > ul > li.er a {
  color: #c0c0c0; }

.footer_tel {
  float: right;
  color: #888888;
  margin-top: 15px; }

.footer_tel p {
  /*text-align:right;*/
  font-size: 12px;
  margin: 3px; }

.footer_share {
  float: left;
  width: 100%;
  height: 50px;
  border-top: 1px solid #6f6f6f;
  border-bottom: 1px solid #6f6f6f;
  margin-top: 24px;
  position: relative; }

.logo_b {
  float: left;
  margin-top: 8px;
  margin-left: 4px; }

.share_icons {
  float: right; }

.share_icons a {
  display: block;
  margin-top: 12px;
  margin-left: 12px;
  float: left; }

.sanjiao {
  position: absolute;
  top: -28px;
  left: 50%;
  margin-left: -28px; }

.focus_wb {
  position: absolute;
  width: 180px;
  height: 113px;
  background: url(../imgs/layout/focus_wb.png) no-repeat center;
  right: -22px;
  top: -104px;
  display: none; }

.focus_wb > div {
  margin-top: 67px;
  margin-left: 50px; }

.focus_wx {
  position: absolute;
  width: 100px;
  height: 142px;
  right: 15px;
  top: -133px;
  display: none; }

.quick_links {
  position: relative;
  line-height: 30px;
  margin-top: 135px;
  float: right;
  width: 180px;
  color: #fff; }

.quick_links dt {
  height: 30px;
  padding-left: 10px;
  background: url(../imgs/layout/ico_dsj.png) 158px center no-repeat #434343;
  color: #a7a7a7;
  border-radius: 3px;
  cursor: pointer; }

.quick_links dd {
  display: none;
  position: absolute;
  font-size: 12px;
  left: 0;
  bottom: 30px;
  padding: 3px 0;
  background: #111414; }

.quick_links dd a:hover {
  background-color: #BD0100; }

.quick_links dd a {
  display: block;
  width: 170px;
  padding-left: 10px;
  font-size: 12px;
  color: #a7a7a7;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.head {
  height: 195px;
  background: url(../imgs/commons/gray-opacity.png) 0 0 repeat; }
  .head .head_top {
    height: 30px;
    background: #fff; }
  .head .head_bottom {
    height: 165px; }
    .head .head_bottom .inside {
      height: 165px; }
  .head .ht_area {
    margin: 0 auto; }
    .head .ht_area .loginTop {
      float: right; }
      .head .ht_area .loginTop a {
        margin-left: 10px;
        line-height: 30px; }
  .head .logo_area {
    float: left; }
  .head .search_area {
    float: right; }
  .head .scbar_icon_td {
    background: none; }
  .head .btn_area {
    float: left; }
    .head .btn_area ul {
      float: left; }
  .head .share_area {
    float: right;
    padding-top: 2px; }
    .head .share_area span {
      padding-right: 20px;
      color: #fff;
      vertical-align: 8px; }
    .head .share_area a {
      margin-right: 20px; }
  .head #nv {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #e60012; }
    .head #nv li.a {
      background: none; }
  .head #mn_forum {
    background-image: none;
    background-color: #e60012; }
    .head #mn_forum a:hover {
      background-image: none;
      background-color: #a01313;
      text-decoration: none; }
  .head #um {
    padding-top: 0;
    padding-right: 0; }
    .head #um a {
      margin-left: 0; }
  .head #scbar {
    border: 0;
    margin-top: 20px;
    background: none; }
    .head #scbar #scbar_txt {
      font-size: 14px;
      line-height: 40px;
      width: 285px;
      height: 38px;
      padding-left: 10px;
      border: 1px #858585 solid;
      color: #757474;
      outline: 0; }
    .head #scbar .scbar_btn_td {
      position: relative;
      display: block;
      background: url(../imgs/layout/search_icon.png) 0 0 no-repeat;
      margin-left: -40px;
      margin-top: 10px; }
      .head #scbar .scbar_btn_td button {
        outline: 0; }

.recommend_b {
  margin-top: 25px; }
  .recommend_b .user_name_b {
    padding-top: 10px;
    padding-left: 10px; }
  .recommend_b .like_b,
  .recommend_b .share_b {
    margin-left: 35px;
    margin-top: 10px; }
    .recommend_b .like_b span,
    .recommend_b .share_b span {
      vertical-align: 5px; }

#nv_portal .wrapper {
  margin: 30px 0; }
#nv_portal .left {
  float: left;
  width: 800px; }
#nv_portal .right {
  margin-left: 810px; }
#nv_portal #kv {
  height: 580px;
  background: url(../imgs/commons/white-opacity.png) 0 0 repeat;
  overflow: hidden; }
#nv_portal .spic_con {
  padding-left: 10px; }
  #nv_portal .spic_con li {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 0; }
    #nv_portal .spic_con li.on:after {
      content: '';
      position: absolute;
      display: block;
      border: 2px solid #f50c0c;
      z-index: 2;
      width: 141px;
      height: 96px;
      top: 0;
      left: 0; }
#nv_portal .contentStyle {
  position: relative;
  margin-top: 30px;
  border-top: 5px solid #f50c0c;
  background: url(../imgs/commons/white-opacity.png) 0 0 repeat; }
#nv_portal .contentsWrap {
  padding: 15px 25px 25px 25px; }
#nv_portal #recommend_hot h2 {
  color: #000;
  font-size: 18px; }
#nv_portal #recommend_hot p {
  font-size: 14px; }
#nv_portal #recommend_hot .left {
  float: left;
  width: 350px; }
  #nv_portal #recommend_hot .left img {
    display: block; }
#nv_portal #recommend_hot .right {
  margin-left: 380px;
  font-size: 14px; }
  #nv_portal #recommend_hot .right .content h2 {
    margin-bottom: 10px; }
  #nv_portal #recommend_hot .right .content p {
    margin-bottom: 10px; }
  #nv_portal #recommend_hot .right .userWrap {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px; }
  #nv_portal #recommend_hot .right .avatar {
    float: left; }
  #nv_portal #recommend_hot .right .name {
    float: left;
    line-height: 39px;
    margin-left: 10px; }
  #nv_portal #recommend_hot .right .iconsWrap {
    float: left;
    line-height: 39px;
    margin-left: 30px; }
  #nv_portal #recommend_hot .right .linksBtn a {
    display: block;
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 2px;
    background-color: #cc412e;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center; }
#nv_portal #recommend_content {
  margin-top: 30px; }
  #nv_portal #recommend_content h2 {
    color: #000;
    font-size: 16px;
    margin-bottom: 5px; }
  #nv_portal #recommend_content p {
    margin-bottom: 5px;
    height: 20px;
    overflow: hidden; }
  #nv_portal #recommend_content .userWrap {
    overflow: hidden; }
  #nv_portal #recommend_content .avatar {
    float: left; }
  #nv_portal #recommend_content .name {
    float: left;
    line-height: 23px;
    margin-left: 10px; }
  #nv_portal #recommend_content .iconsWrap {
    float: left;
    line-height: 23px;
    margin-left: 15px; }
  #nv_portal #recommend_content li {
    float: left;
    width: 340px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-right: 30px;
    border-bottom: 1px solid #d99288; }
    #nv_portal #recommend_content li .left {
      float: left;
      width: 75px;
      height: auto; }
      #nv_portal #recommend_content li .left img {
        display: block; }
    #nv_portal #recommend_content li .right {
      margin-left: 90px; }
#nv_portal #hotpoint .menus {
  border-bottom: 1px solid #fdc3c3;
  margin-top: -30px; }
  #nv_portal #hotpoint .menus ul {
    float: right;
    background: #000; }
    #nv_portal #hotpoint .menus ul li {
      float: left; }
      #nv_portal #hotpoint .menus ul li a {
        line-height: 40px;
        display: block;
        width: 120px;
        height: 40px;
        padding: 0;
        text-align: center;
        color: #fff; }
        #nv_portal #hotpoint .menus ul li a:hover {
          background-color: #f50c0c;
          background-image: none; }
#nv_portal #hotpoint .contentsWrap .left {
  float: left;
  width: 345px; }
#nv_portal #hotpoint .contentsWrap .iconsWrap {
  float: left;
  line-height: 23px;
  margin-right: 15px; }
#nv_portal #hotpoint .contentsWrap .userWrap {
  margin-top: 10px; }
#nv_portal #hotpoint .contentsWrap h3 {
  font-size: 16px;
  color: #000;
  font-weight: bold; }
#nv_portal #hotpoint .contentsWrap p {
  margin: 10px 0; }
#nv_portal #hotpoint .contentsWrap .avatar {
  float: left; }
#nv_portal #hotpoint .contentsWrap .name {
  margin-left: 59px; }
#nv_portal #hotpoint .contentsWrap .right {
  margin-left: 380px; }
  #nv_portal #hotpoint .contentsWrap .right ul {
    margin-left: -20px; }
    #nv_portal #hotpoint .contentsWrap .right ul li {
      float: left;
      width: 175px;
      border-bottom: 1px solid #dbdbdb;
      margin-bottom: 20px;
      padding-bottom: 5px;
      margin-left: 20px; }
      #nv_portal #hotpoint .contentsWrap .right ul li h3 {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        overflow: hidden; }
      #nv_portal #hotpoint .contentsWrap .right ul li p {
        margin: 5px 0; }
#nv_portal #login,
#nv_portal #activity {
  margin-bottom: 30px; }
#nv_portal .loginWrap {
  padding: 20px 20px 40px 20px;
  background: url(../imgs/commons/white-opacity.png) 0 0 repeat; }
  #nv_portal .loginWrap h2 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #000;
    border-bottom: 3px solid #e60012;
    margin-bottom: 20px; }
  #nv_portal .loginWrap .row {
    margin-bottom: 10px; }
  #nv_portal .loginWrap input {
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #a4a4a4;
    width: 240px;
    color: #a4a4a4;
    outline: 0;
    font-size: 14px; }
    #nv_portal .loginWrap input::-webkit-input-placeholder {
      font-size: 14px;
      color: #a4a4a4;
      font-weight: bold; }
  #nv_portal .loginWrap label {
    font-size: 14px;
    color: #a4a4a4;
    font-weight: bold; }
  #nv_portal .loginWrap .links {
    float: right; }
    #nv_portal .loginWrap .links a {
      font-size: 14px;
      color: #a4a4a4;
      font-weight: bold; }
  #nv_portal .loginWrap .checkboxs {
    float: left; }
    #nv_portal .loginWrap .checkboxs input {
      width: auto;
      height: auto; }
  #nv_portal .loginWrap .remember {
    overflow: hidden; }
  #nv_portal .loginWrap #login_btn {
    display: block;
    width: 250px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 2px;
    background-color: #f50c0c; }
  #nv_portal .loginWrap span {
    font-size: 14px;
    color: #a4a4a4;
    font-weight: bold; }
    #nv_portal .loginWrap span a {
      color: #e60012; }
#nv_portal #activity ul {
  overflow: hidden; }
  #nv_portal #activity ul li {
    border-top: 1px solid #9a0606;
    padding-top: 30px;
    margin-bottom: 30px; }
    #nv_portal #activity ul li.first {
      padding-top: 0;
      border-top: 0; }
#nv_portal #activity .content {
  margin: 10px 10px 10px 20px; }
#nv_portal #activity .iconsWrap {
  float: left;
  line-height: 23px;
  margin-right: 15px; }
#nv_portal #activity h2 {
  color: #000;
  font-size: 16px;
  margin: 15px 0; }
#nv_portal #activity p {
  margin: 10px 0; }
#nv_portal #activity .icons {
  overflow: hidden; }
#nv_portal #activity .left {
  float: left;
  width: 75px; }
#nv_portal #activity .right {
  margin-left: 85px; }
  #nv_portal #activity .right h3 {
    color: #000;
    font-size: 14px;
    margin-bottom: 10px; }
#nv_portal #activity .listWrap {
  overflow: hidden; }

.new_c {
  position: relative;
  margin-top: 30px;
  border-top: 5px solid #f50c0c;
  background: url(../imgs/commons/white-opacity.png) 0 0 repeat;
  padding: 0 !important; }
  .new_c .bm {
    border: none;
    background: none; }
  .new_c .bm_h {
    border: none !important;
    background: none;
    padding: 0 !important;
    height: 50px; }
    .new_c .bm_h span {
      padding-right: 10px; }
  .new_c .xs2 {
    font-size: 20px !important;
    font-weight: bold;
    color: #fff;
    width: 140px;
    height: 50px;
    background-color: #f50c0c;
    padding-left: 10px; }
  .new_c .bbs {
    border: none !important; }

#layer_reg .rfm {
  width: 520px;
  border: none !important; }
  #layer_reg .rfm td {
    line-height: 30px; }
  #layer_reg .rfm label {
    color: #909090; }
  #layer_reg .rfm input {
    width: 350px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border: 1px #858585 solid;
    background: none; }

#layer_reginfo_b .mbw {
  width: 360px;
  height: 40px;
  background-color: #f50c0c;
  margin-left: 425px; }
  #layer_reginfo_b .mbw label {
    height: 30px;
    line-height: 30px;
    font-size: 14px; }
  #layer_reginfo_b .mbw button {
    border: none !important;
    background: none !important;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0 auto; }

#ct #chart {
  padding: 10px; }

#nv_forum #category_1 .fl_row td {
  border-top: 1px solid #f50c0c; }
#nv_forum #category_1 .fl_icn_g {
  width: auto !important;
  text-align: center;
  float: none !important; }
  #nv_forum #category_1 .fl_icn_g a img {
    text-align: center;
    float: none !important; }
#nv_forum #category_1 .fl_g {
  padding: 30px 0; }
  #nv_forum #category_1 .fl_g dl {
    margin: 0 !important;
    padding-left: 140px; }
    #nv_forum #category_1 .fl_g dl dt a {
      color: #a52020;
      font-size: 18px;
      font-weight: bold; }
